PORT=3000
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_CHAT_ID=
BSC_RPC_URL=https://bsc-dataseed.binance.org/
USDT_BEP20_CONTRACT=0x55d398326f99059fF775485246999027B3197955
PAYOUT_WALLET_PRIVATE_KEY=YOUR_WALLET_PRIVATE_KEY_HERE
